<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <div class="wrapper">
  <p>Logo</p>
  </div>
  <body>
    <span class="under">担当者</span>
    <p>お約束をされている、担当者名を選択してください。 </p>
    <input id="button" type="button" name="submit" onclick="location.href='/addcmp'" value="back">
    <input id="button" type="button" name="submit" onclick="location.href='/confirm'" value="Next">
    <div class="footer">
    <p>DenstuSystem.Ltd</p>
    </div>
  </body>
</html>
