<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <div class="wrapper">
  <%#  <%= image_tag 'des-icon.gif', :size => '450x55' %>
　<p>Logo</p>
  </div>
  <body>
    <span class="under">確認</span>
    <p>下記の内容でお間違えないでしょうか？</p>
    <p>お客様名</p>
    <p>お客様会社名</p>
    <p>訪問部署： 担当：　</p>
    <input id="button" type="button" name="submit" onclick="location.href='/addcmp'" value="back">
    <input id="button" type="button" name="submit" onclick="location.href='/confirm'" value="OK">
    <div class="footer">
    <p>DenstuSystem.Ltd</p>
    </div>
  </body>
</html>
