<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <div class="wrapper">
  <p>Logo</p>
  </div>
  <body>
    <span class="under"> User Name</span>
    <p>plese insert your name </p>
    <p>User Name</p>
    <p>User Name (kana)</p>
    <input id="button" type="button" name="submit" onclick="location.href='/'" value="back">
    <input id="button" type="button" name="submit" onclick="location.href='/confirm'" value="Next">
    <a href="/">back</a>
    <div class="footer">
    <p>DenstuSystem.Ltd</p>
    </div>
  </body>
</html>
