<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <div class="wrapper">
      <p>Logo</p>
      </div>
    <p> Welcom to</p>
    <div class="top-btn">
      <input id="button" type="button" name="submit" onclick="location.href='/adduser'" value="Add_User">
      <input id="button" type="button" name="submit" onclick="location.href='/seluser'" value="Sel_User">
    </div>
    <div class="footer">
      <p>DenstuSystem.Ltd</p>
    </div>
  </body>
</html>
